//Pattern solid news triple

.solid-news-triple {
  .has-light-grey-to-white-gradient-background {
    transform: scaleX(2.5);

    @media screen and (min-width: 1200px) {
      transform: scaleX(2.5);
    }
    @media screen and (min-width: 1200px) {
      transform: none;
    }
  }
  .wp-block-columns {
    flex-direction: column;
    width: 100%;
    .chancellorFeaturePost {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
    // background-color: $utgray2;
    img {
      width: 90%;
    }
    @media screen and (min-width: 1200px) {
      flex-direction: column;
      background-color: none;
      .chancellorFeaturePost {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        > * {
          flex: 1;
        }
      }
      img {
        width: 90%;
      }
    }

    @media screen and (min-width: 1536px) {
      flex-direction: row;
      .chancellorFeaturePost {
        display: flex;
        flex-direction: column;

        // flex-wrap: wrap;
      }
    }
  }
}

.featuredVideo {
  margin: 0;
  padding: 0;

  .has-white-to-clear-gradient-background {
    transform: scaleX(0.85);
    transform: scaleX(0.45);
    // transform: scaleY(0);
    transform-origin: top left;

    transition: all 0.2s ease-out;

    @media screen and (min-width: 1200px) {
      transform: scaleX(0.9);

      transition: all 0.2s ease-out;
    }
    @media screen and (min-width: 1536px) {
      transform: none;
      border: none;

      transition: all 0.2s ease-out;
    }

    @media screen and (min-width: 2370px) {
      transform: scaleX(0.9);
      border: none;

      transition: all 0.2s ease-out;
    }
  }
  .flagshipVideo {
    margin: 0;
    padding: 0;
    height: min-content !important;
  }
}

// Two up Gallery (large first) Forces image to overlap with orange bar on mobile. Grounds the image.
.twoUp-gallery-lgsm figure:first-of-type {
  margin-bottom: -5rem;
  @media screen and (min-width: 700px) {
    margin-bottom: 0;
  }
}
.twoUp-gallery-smlg figure:first-of-type {
  // margin-bottom: -5rem;
  @media screen and (min-width: 700px) {
    margin-bottom: 0;
  }
}
